footer {
  padding: 20px 0;
}

footer h5 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
}

footer p, footer a {
  font-size: 14px;
}

footer a:hover {
  text-decoration: underline;
}

footer .bg-dark {
  padding: 15px 0;
}
