<div class="container mt-4">
  <h3 class="mb-4">Przeglądaj Filmy</h3>

  <app-movie-filter
    [movies]="movies"
    [genres]="genres"
    (searchRequested)="onSearchRequested($event)">
  </app-movie-filter>

  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let movie of filteredMovies">
      <app-movie-card
        [movie]="movie"
        [genres]="genres"
        [imageBaseUrl]="imageBaseUrl">
      </app-movie-card>
    </div>
  </div>

  <app-movie-pagination
    [currentPage]="page"
    [totalPages]="totalPages || 1"
    (pageChanged)="onPageChanged($event)">
  </app-movie-pagination>

</div>
