<div class="container mt-4">
  <h3 class="mb-4">Przeglądaj Filmy</h3>

  <div class="row mb-4">
    <div class="col-md-3">
      <label for="genre" class="form-label">Filtruj według Gatunku:</label>
      <select id="genre" [(ngModel)]="selectedGenre" class="form-select" (change)="filterMovies()">
        <option value="">Wszystkie</option>
        <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
      </select>
    </div>

    <div class="col-md-3">
      <label for="rating" class="form-label">Filtruj według Oceny:</label>
      <select id="rating" [(ngModel)]="selectedRating" class="form-select" (change)="filterMovies()">
        <option value="">Wszystkie</option>
        <option *ngFor="let rating of ratings" [value]="rating">{{ rating }}+</option>
      </select>
    </div>

    <div class="col-md-3 d-flex align-items-end">
      <button class="btn btn-secondary w-100" (click)="resetFilters()">Resetuj Filtry</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let movie of filteredMovies">
      <app-movie-card [movie]="movie" [imageBaseUrl]="imageBaseUrl"></app-movie-card>
    </div>
  </div>
  <app-movie-pagination
    [currentPage]="page"
    [totalPages]="totalPages || 1"
    (pageChanged)="onPageChanged($event)">
  </app-movie-pagination>

</div>
