<div class="card shadow-sm">
  <img [src]="imageBaseUrl + movie.poster_path" class="card-img-top" [alt]="movie.title">
  <div class="card-body">
    <div class="details-bar">
      <div class="title-row">
        <h5 class="card-title">{{ movie.title }}</h5>
        <app-rating-tile [value]="movie.vote_average / 2"></app-rating-tile>
      </div>
      <p class="card-text">
        <strong>Gatunek:</strong> {{ getGenreNames() }}<br>
        <strong>Data wydania:</strong> {{ movie.release_date }}<br>
      </p>
    </div>
    <div class="button-bar">
      <a [routerLink]="['/movie', movie.id]" class="btn btn-primary">Zobacz więcej</a>
    </div>
  </div>
</div>
