<div class="card shadow-sm">
  <img [src]="imageBaseUrl + movie.poster_path" class="card-img-top" [alt]="movie.title">
  <div class="card-body">
    <div class="details-bar">
      <div class="title-row">
        <h5 class="card-title">{{ movie.title }}</h5>
        <app-rating-tile [value]="movie.vote_average / 2"></app-rating-tile>
      </div>
      <div class="movie-meta">
        <span class="meta-item">
          <i class="fa fa-calendar"></i> {{ movie.release_date | date:'yyyy' }}
        </span>
        <span class="meta-item">
          <i class="fa fa-film"></i> {{ getGenreNames() }}
        </span>
      </div>
    </div>
    <div class="button-bar">
      <a [routerLink]="['/movie', movie.id]" class="btn btn-primary">Zobacz więcej</a>
    </div>
  </div>
</div>
