<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link btn btn-outline-primary" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-primary" routerLink="/browse">Przeglądaj</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!isLoggedIn">
        <button class="btn btn-primary" routerLink="/register">Zarejestruj się</button>
      </li>
      <li class="nav-item dropdown" *ngIf="isLoggedIn">
        <a class="nav-link dropdown-toggle btn btn-outline-secondary me-2" id="listsDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
          Listy
        </a>
        <ul class="dropdown-menu" aria-labelledby="listsDropdown">
          <li><a class="dropdown-item" routerLink="/watchlist">Do Obejrzenia</a></li>
          <li><a class="dropdown-item" routerLink="/ratings">Ocenione</a></li>
          <li><a class="dropdown-item" routerLink="/favourites">Ulubione</a></li>
          <li><a class="dropdown-item" routerLink="/watched">Obejrzane</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown" *ngIf="isLoggedIn">
        <a class="nav-link dropdown-toggle btn btn-outline-primary" id="navbarDropdown" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
          <img ngSrc="profile.svg" alt="Profil" style="width: 24px; height: 24px;" height="18" width="18"/>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" routerLink="/edit-profile">Moje Konto</a></li>
          <li><a class="dropdown-item" (click)="logout()">Wyloguj się</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
