.jumbotron {
  background-color: #f8f9fa;
  padding: 2rem;
}

.movie-carousel {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
}

.movie-list {
  display: flex;
}

.movie-card {
  flex: 0 0 auto;
  margin-right: 20px;
  width: 200px;
}

.container {
  margin-top: 50px;
}
