.star-rating-container {
  display: flex;
  gap: 6px;
}


.star-wrapper {
  position: relative;
  font-size: 32px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-bg,
.star-fg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 32px;
  line-height: 32px;
  /*text-align: center;*/
  pointer-events: none;
}

.star-bg {
  color: #ccc;
  z-index: 1;
}

.star-fg {
  color: gold;
  z-index: 2;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  transition: width 0.1s ease;
}

