<div class="movie-details">
  <h2 class="movie-title">
    {{ movieData?.title }}
    <span class="movie-year">({{ movieData?.release_date | date:'yyyy' }})</span>
  </h2>

  <div class="movie-overview">
    <div
      class="movie-overview-text"
      [ngClass]="{ 'expanded': isOverviewExpanded }">
      <p #overviewRef>{{ movieData?.overview }}</p>
    </div>
    <button
      *ngIf="isTruncatable"
      class="read-more-btn"
      (click)="toggleOverview()">
      {{ isOverviewExpanded ? 'Zwiń' : 'Czytaj dalej' }}
    </button>
  </div>

  <div class="movie-tabs">
    <div class="tabs">
      <button
        *ngFor="let tab of tabs"
        [class.active]="selectedTab === tab"
        (click)="selectTab(tab)">
        {{ tab.label }}
      </button>
    </div>

    <div class="tab-content">
      <ng-container [ngSwitch]="selectedTab.value">
        <div *ngSwitchCase="'cast'">
          <p>Obsada (cast) będzie tutaj</p>
        </div>
        <div *ngSwitchCase="'details'">
          <div class="movie-details-table">
            <div class="detail-row" *ngFor="let detail of movieDetails">
              <div class="label">{{ detail.label }}</div>
              <div class="value">{{ detail.value }}</div>
            </div>
          </div>

        </div>
        <div *ngSwitchCase="'crew'">
          <p>Ekipa (crew) będzie tutaj</p>
        </div>
        <div *ngSwitchCase="'reviews'">
          <p>Ekipa (crew) będzie tutaj</p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
