<div class="movie-details">
  <div class="data-source-toggle">
    <button
      [class.active]="dataSource === 'tmdb'"
      (click)="dataSource = 'tmdb'">
      TMDB
    </button>
    <button
      [class.active]="dataSource === 'trakt'"
      [disabled]="!traktMovieData"
      (click)="dataSource = 'trakt'">
      Trakt
    </button>
  </div>


  <h2 class="movie-title">
    {{ movieTitle }}
    <span class="movie-year">({{ movieReleaseDate | date:'yyyy' }})</span>
    <span *ngIf="movieRuntime" class="movie-runtime">
    • {{ formatRuntime(movieRuntime) }}
    </span>
  </h2>

  <div class="movie-overview">
    <div
      class="movie-overview-text"
      [ngClass]="{ 'expanded': isOverviewExpanded }">
      <p #overviewRef>{{ movieOverview }}</p>
    </div>
    <button
      *ngIf="isTruncatable"
      class="read-more-btn"
      (click)="toggleOverview()">
      {{ isOverviewExpanded ? 'Zwiń' : 'Czytaj dalej' }}
    </button>
  </div>

  <div class="movie-tabs">
    <div class="tabs">
      <button
        *ngFor="let tab of tabs"
        [class.active]="selectedTab === tab"
        (click)="selectTab(tab)">
        {{ tab.label }}
      </button>
    </div>

    <div class="tab-content">
      <div class="data-source-indicator">
        Źródło danych: <span class="source-name">{{ dataSource.toUpperCase() }}</span>
        <button
          class="toggle-source-btn"
          [disabled]="dataSource === 'tmdb' && !traktMovieData"
          (click)="toggleDataSource()">
          Przełącz na {{ dataSource === 'tmdb' ? 'Trakt' : 'TMDB' }}
        </button>

      </div>

      <ng-container [ngSwitch]="selectedTab.value">
        <div *ngSwitchCase="'cast'">
          <p>{{ castData }}</p>
        </div>
        <div *ngSwitchCase="'details'">
          <div class="movie-details-table">
            <div class="detail-row" *ngFor="let detail of movieDetails">
              <div class="label">{{ detail.label }}</div>
              <div class="value">{{ detail.value }}</div>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'crew'">
          <p>{{ crewData }}</p>
        </div>
        <div *ngSwitchCase="'reviews'">
          <app-movie-details-reviews [reviews]="movieData?.reviews ?? []"/>
        </div>
      </ng-container>
    </div>
  </div>
</div>
