.movie-details {
  margin: 0;
  padding-left: 20px;
}

.movie-info {
  font-size: 16px;
  margin-bottom: 8px;
}

.movie-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
}

.movie-year {
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  color: #666;
  margin-left: 8px;
}

.movie-runtime {
  font-size: 18px;
  color: #444;
  margin-left: 10px;
}

.movie-overview {
  position: relative;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

.movie-overview-text {
  max-height: 6.4em;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.movie-overview-text.expanded {
  max-height: 1000px;
}

.read-more-btn {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 0;
  margin-top: 10px;
  font-size: 16px;
}

.read-more-btn:hover {
  text-decoration: underline;
}


.movie-overview p {
  margin-bottom: 0;
  font-style: italic;
}

.movie-info strong {
  font-weight: bold;
}

@media (max-width: 768px) {
  .movie-details {
    padding-left: 0;
  }

  .movie-info {
    font-size: 14px;
  }

  .movie-title {
    font-size: 22px;
  }

  .movie-overview {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .movie-info {
    font-size: 12px;
  }

  .movie-title {
    font-size: 20px;
  }
}

.movie-tabs {
  margin-top: 20px;
}

.tabs {
  display: flex;
  border-bottom: 2px solid #ddd;
  margin-bottom: 10px;
}

.tabs button {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s, color 0.3s;
}

.tabs button:hover {
  color: #007bff;
}

.tabs button.active {
  border-color: #007bff;
  font-weight: bold;
}

.tab-content {
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 6px;
}



.movie-details-table {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 8px 16px;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
  color: #333;
}

.detail-row {
  display: contents;
}

.label {
  font-weight: bold;
  color: #555;
  text-align: right;
}

.value {
  color: #222;
}
