<div class="row mb-4">
  <div class="col-md-3">
    <label for="genre" class="form-label">Filtruj według Gatunku:</label>
    <select id="genre" [(ngModel)]="selectedGenre" class="form-select">
      <option value="">Wszystkie</option>
      <option *ngFor="let genre of genres" [value]="genre.name">{{ genre.name }}</option>
    </select>
  </div>

  <div class="col-md-3">
    <label for="rating" class="form-label">Filtruj według Oceny:</label>
    <select id="rating" [(ngModel)]="selectedRating" class="form-select">
      <option value="">Wszystkie</option>
      <option *ngFor="let rating of ratings" [value]="rating">{{ rating }}+</option>
    </select>
  </div>

  <div class="col-md-3 d-flex align-items-end">
    <button class="btn btn-primary w-100" (click)="triggerSearch()">Szukaj</button>
  </div>

  <div class="col-md-3 d-flex align-items-end">
    <button class="btn btn-secondary w-100" (click)="resetFilters()">Resetuj Filtry</button>
  </div>
</div>
