<div class="movie-wrapper" *ngIf="movieData">
  <div class="movie-backdrop">
    <img [src]="imageBaseUrl + movieData.backdrop_path" alt="Backdrop"/>
    <div class="movie-hero">
      <img class="movie-poster" [src]="imageBaseUrl + movieData.poster_path" alt="Poster"/>
    </div>
  </div>

  <app-movie-actions
    [staticRating]="staticRating"
    [movieStatus]="movieStatus"
    (ratingChanged)="rateMovie($event)"
    (favouriteToggled)="changeFavouriteStatus($event)"
    (watchedMovieToggled)="changeWatchedStatus($event)"
    (addToWatchlistToggled)="changeAddedToWatchlistStatus($event)"
    (addToList)="addMovieToCustomList($event)"
    (createList)="createCustomList($event)">
  </app-movie-actions>

  <div class="movie-details-wrapper">
    <app-movie-details [movieData]="movieData"></app-movie-details>
  </div>
</div>
