.small-card {
  width: 100%; /* Dostosuj szerokość, aby dopasować do kolumny */
  max-width: 150px; /* Zmniejsz maksymalną szerokość karty */
  height: auto; /* Umożliwia automatyczne dostosowanie wysokości */
}

.card-img-top {
  height: 100px; /* Ustaw wysokość obrazu */
  object-fit: cover; /* Utrzymuj proporcje obrazu */
}

.card-body {
  padding: 0.5rem; /* Zmniejsz padding w ciele karty */
}

.card-title {
  font-size: 1rem; /* Zmniejsz rozmiar czcionki tytułu */
}

.card-text {
  font-size: 0.8rem; /* Zmniejsz rozmiar czcionki tekstu */
}

.btn-sm {
  padding: 0.25rem 0.5rem; /* Zmniejsz padding przycisku */
}
