<div class="movie-actions-wrapper">
  <div class="movie-buttons">
    <i
      class="fa movie-btn"
      [ngClass]="{
        'fa-play': !movieStatus?.watched,
        'fa-play-circle': movieStatus?.watched,
        'active': movieStatus?.watched
      }"
      (click)="toggleWatched()"
      title="{{ movieStatus?.watched ? 'Usuń z obejrzanych' : 'Oznacz jako obejrzany' }}">
    </i>

    <i
      class="fa movie-btn"
      [ngClass]="{
        'fa-plus-square': !movieStatus?.inWatchlist,
        'fa-check-square': movieStatus?.inWatchlist,
        'active': movieStatus?.inWatchlist
      }"
      (click)="toggleWatchlist()"
      title="{{ movieStatus?.inWatchlist ? 'Usuń z Watchlisty' : 'Dodaj do Watchlisty' }}">
    </i>

    <i
      class="fa movie-btn"
      [ngClass]="{
        'fa-heart': movieStatus?.favourite,
        'fa-heart-o': !movieStatus?.favourite,
        'active': movieStatus?.favourite
      }"
      (click)="toggleFavorite()"
      title="{{ movieStatus?.favourite ? 'Usuń z ulubionych' : 'Dodaj do ulubionych' }}">
    </i>
  </div>

  <div class="movie-rating">
    <app-movie-stars
      [userRating]="userRating"
      [staticRating]="staticRating"
      (ratingChanged)="onRatingChanged($event)">
    </app-movie-stars>

    <app-rating-tile [value]="staticRating / 2"></app-rating-tile>
  </div>
</div>
