<div class="movie-actions-wrapper">
  <div class="movie-buttons">
    <i class="fa fa-thumbs-up movie-btn" (click)="likeMovie()" title="Polub"></i>
    <i class="fa fa-plus-square movie-btn" (click)="addToWatchlist()" title="Dodaj do Watchlisty"></i>
    <i class="fa fa-play movie-btn" (click)="watchMovie()" title="Obejrzyj"></i>
  </div>

  <div class="movie-rating">
    <app-movie-stars
      [userRating]="userRating"
      [staticRating]="staticRating"
      (ratingChanged)="onRatingChanged($event)">
    </app-movie-stars>

    <div class="rating-tile" [ngClass]="getRatingTileClass()">
      {{ (staticRating / 2).toFixed(1) }}
    </div>
  </div>
</div>
