.movie-actions-wrapper {
  margin-left: 200px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.movie-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}


.movie-btn {
  font-size: 32px;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s, transform 0.3s;
}

.movie-btn:hover {
  color: #ff9800;
  transform: scale(1.1);
}

.movie-btn:active {
  color: #f57c00;
}

.movie-rating {
  display: flex;
  align-items: center;
  gap: 10px;
}
