<div class="container mt-4">
  <h2 class="mb-4">{{ title }}</h2>

  <div *ngIf="items.length > 0; else emptyList">
    <div class="list-group">
      <div
        *ngFor="let item of items"
        class="list-group-item align-items-start gap-3 "
      >
        <div class="list-item">
          <app-user-list-item
            [item]="item"
            [canRemove]="canRemove"
            (remove)="removeItem(item.id)"
          ></app-user-list-item>
        </div>
      </div>
    </div>
  </div>

  <ng-template #emptyList>
    <div class="alert alert-info text-center">
      Brak elementów w sekcji "{{ title }}".
    </div>
  </ng-template>
</div>
