<div class="container mt-4">
  <h2 class="mb-4">{{ title }}</h2>

  <div *ngIf="items.length > 0; else emptyList">
    <div class="list-group">
      <div
        *ngFor="let item of items"
        class="list-group-item align-items-start gap-3 "
      >
        <div class="list-item">
          <app-user-list-item
            [item]="item"
            [canRemove]="canRemove"
            (remove)="removeItem(item)"
          ></app-user-list-item>
        </div>
      </div>
    </div>
  </div>

  <ng-template #emptyList>
    <div class="alert alert-info text-center">
      Brak elementów w sekcji "{{ title }}".
    </div>
  </ng-template>
  <nav *ngIf="totalPages > 1" aria-label="Paginacja">
    <ul class="pagination justify-content-center mt-4">
      <li class="page-item" [class.disabled]="currentPage === 0">
        <button class="page-link" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 0">Poprzednia</button>
      </li>

      <li
        class="page-item"
        *ngFor="let page of [].constructor(totalPages); let i = index"
        [class.active]="i === currentPage"
      >
        <button class="page-link" (click)="goToPage(i)">
          {{ i + 1 }}
        </button>
      </li>

      <li class="page-item" [class.disabled]="currentPage >= totalPages - 1">
        <button class="page-link" (click)="goToPage(currentPage + 1)" [disabled]="currentPage >= totalPages - 1">
          Następna
        </button>
      </li>
    </ul>
  </nav>

</div>
